@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Fira+Sans:wght@100&family=Sofia+Sans+Extra+Condensed:wght@500&display=swap');


@keyframes IMG-Animacao {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}







.CharacterIMG{

    width: 200px;
    animation: IMG-Animacao 10s ease-in-out 0s 1 normal forwards ;    
}

.all-content{


    background-image: url('../../Midias/wp6631294-rick-and-morty-desktop-hd-wallpapers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;


    width: 100%;
    height: 105vh;
    display: flex;

}


.Transparency{

    width: 100%;
    height: 105vh;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.26);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 255, 255, 0.31);


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Especs-name{

    font-family: 'Creepster', cursive;
    color: rgb(84, 38, 110);
    text-shadow: 2px 2px 2px rgb(81,216,31);
}

.Especs-title{

    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    
    text-shadow: 2px 2px 2px white;
}

.Especs-p{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.Sub-Content{

    width: 100%;
    height: 300px;

    display: flex;
    flex-direction: row;
    gap: 3em;
    justify-content: space-between;
}

.Espc{

    text-align: center;
}


.Footer-nav{

    width: 25%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Footer-nav a{

    text-decoration: none;
    color: black;
    border-bottom: solid 1px white;
}


/*MOBILE PARTE*/

@media screen and (max-width: 900px) {

    .all-content{

        overflow-y: auto;
    }

    .Transparency{

        overflow: auto;
        display: flex;
        flex-direction: column;
    }

    .Sub-Content{

        display: flex;
        flex-direction: column;
        height: fit-content;
    }


    .Especs-config{

        overflow: hidden;
    }

    .Footer-nav {

        width: 100%;
    }
}
